* {
  margin: 0;
}

header {
  align-items: center;
  /* background-image: linear-gradient(to right top, #121baf, #291e8e, #2f216f, #2f2251, #292335); */
  background-image: -webkit-linear-gradient(bottom left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-image: -o-linear-gradient(bottom left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-image: linear-gradient(to top right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: space-around;
  height: 15vh;
}

header h1,
header h2 {
  color: white;
}

header h1 {
  font-size: 2rem;
  max-width: 50%;
}

header h2 {
  font-size: 2.0rem;
}

header p {
  color: white;
}

header button {
  background-color: steelblue;
  border: none;
  border-radius: none;
  box-shadow: 1px 1px 8px white;
  color: white;
  font-size: 1rem;
  outline: 2px solid black;
  padding: 0.6rem;
  height: 50px;
}

header ul {
  list-style-type: none;
  text-align: center;
}

header button:hover {
  background-color: black;
  outline: 2px solid white;
}

li a {
  color: white;
  text-decoration: none;
}

li a:visited {
  color: white;
}

li a:hover {
  border-bottom: 1px solid white;
}


.bobby {
  background-image: url('./bobbysippio.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 20px steelblue;
  outline: 1px solid black;
  height: 80px;
  width: 80px;
}

.app-section {
  background-color: gray;
  text-align: center;
  min-height: 85vh;
}

.react-grid-Row--even>* {
  background-color: lightgray !important;
}
